/*BEGIN Fight Stick Controller Styling*/
.controller.custom {
    height: 150px;
    width: 450px;
}

.custom.disconnected { 
}
.custom.disconnected div {
}
.custom .triggers {
    width: 148px;
    height: 74px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.custom .trigger-button {
    width: 74px;
    height: 74px;
    background: url(assets/button.png);
}

.custom .trigger-button.pressed {
    -webkit-filter: invert(1);
}

.custom .trigger-button.left {
    position: absolute;
    float: right;
    bottom: 0px;
    right: 0px;
}

.custom .trigger-button.right {
    float: left;
}

.custom .bumpers {
    width: 148px;
    height: 74px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.custom .bumper {
    width: 74px;
    height: 74px;
    background: url(assets/button.png);
}

.custom .bumper.pressed {
    -webkit-filter: invert(1);
}

.custom .bumper.left {
    position: absolute;
    float: right;
    bottom: 0px;
    right: 0px;
}

.custom .bumper.right {
    float: left;
}

.custom .abxy {
    position: absolute;
    width: 148px;
    height: 148px;
    bottom: 0px;
    left: 151px;
}

.custom .button {
    width: 74px;
    height: 74px;
    background: url(assets/button.png);
    position: absolute;
}

.custom .button.pressed {
    -webkit-filter: invert(1);
}

.custom .a {
    bottom: 0px;
    left: 0px;
}

.custom .b {
    bottom: 0px;
    right: 0px;
}

.custom .x {
    top: 0px;
    left: 0px
}

.custom .y {
    right: 0px;
    top: 0px;
}

.custom .fstick {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0px;
    left: 0px;
    background: url(assets/stick.png);
}

.custom .fstick.up {
top: 0px;
   background-position-x: -150px;
}

.custom .fstick.down {
   background-position-x: -300px;
}

.custom .fstick.left {
   background-position-x: -450px;
}

.custom .fstick.right {
   background-position-x: -600px;
}

.custom .fstick.up.right {
    background-position-x: -750px;
}

.custom .fstick.up.left {
    background-position-x: -900px;
}

.custom .fstick.down.right {
    background-position-x: -1050px;
}

.custom .fstick.down.left {
    background-position-x: -1200px;
}

/*END Fight Stick Controller Styling*/
